.container {
 display:flex;
 flex-direction:column;
 align-items:center;
 gap:2;

}

.btn-container {
    display:flex;
    column-gap:4;
    margin-top:10px;
}
button {
    display:block;
    margin: 10px;
    background-color: rgb(198, 198, 253);
}